html
  head
    title Report
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
  body
    .container
      .jumbotron
        h1 Files Report
      .card
        .card-header
          h3.text-center Grade
        .card-body
          h1.text-center #{letterGrade}
        .card-footer
      br
      .card
        .card-header
          h3.text-center Score
        .card-body
          h1.text-center #{grade}%
        .card-footer 

      br
      .card
        .card-header
          h3.text-center Total Tracked Items
        .card-body
          h1.text-center #{count}
      br
      .card
        .card-header
          h3.text-center Orphans
        .card-body
          h1.text-center #{orphans.count}
          ul.list-group
          each file in orphans.files
            li.list-group-item.list-group-item-danger #{file} |  -10
      br
      .card
        .card-header
          h3.text-center Untracked Projects
        .card-body
          h1.text-center #{untrackedProjects.count}
          ul.list-group
          each file in untrackedProjects.files
            li.list-group-item.list-group-item-warning #{file.filePath}
      br
      .card
        .card-header
          h3.text-center Tracked Projects
        .card-body
          h1.text-center #{trackedProjects.count}
          ul.list-group
          each file in trackedProjects.files
            li.list-group-item.list-group-item-success #{file.filePath}