html
  head
    title Report
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
  body
    h2 Total Tracked Items:
    p #{count}
    h2 Orphans:
    h3 Total Orphans:
    p #{orphans.count}
    h3 Files:
    each file in orphans.files
      p #{file}
    h2 Untracked Projects:
    h3 Total Untracked Projects:
    p #{untrackedProjects.count}
    h3 Files:
    each file in untrackedProjects.files
      p #{file.filePath}
    h2 Tracked Projects:
    h3 Total Tracked Projects:
    p #{trackedProjects.count}
    h3 Files:
    each file in trackedProjects.files
      p #{file.filePath}